form
{
	padding: 10px;
}
input, label, progress, select
{
	padding: 3px;
	margin: 10px;
	display: block;
}
input, progress, select
{
	margin-left: 40px;
}
fieldset
{
	//display: none;
	position: absolute;
	top: 20px;
	left: 30%;
}
section
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.raw *
{
	font-weight: lighter !important;
	font-family: Monospace !important;
	font-size: 0.9em;
	word-break: break-word;
	text-align: justify;
}
table, table *
{
	border: 1px solid black;
	border-collapse:collapse;
}
table *
{
	padding: 3px;
}
table
{
	margin: 10px;
}
#l_filter,#filter,#l_td,#to_display,#l_if2,#input_file2
{
	display: none;
}
