form
{
  padding: 10px;
}
input, label, progress, select
{
  padding: 3px;
  margin: 10px;
  display: block;
}
input, progress, select
{
  margin-left: 40px;
}
fieldset {
  position: absolute;
  left: 30vw;
  height: auto;
  outline: none;
  border: none;
}
fieldset.collapse
{
  height: 0;
  overflow: hidden;
}
section
{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.raw *
{
  font-weight: lighter !important;
  font-family: Monospace !important;
  font-size: 0.9em;
  word-break: break-word;
  text-align: justify;
}
table, table *
{
  border: 1px solid black;
  border-collapse:collapse;
}
table *
{
  padding: 3px;
}
table
{
  margin: 10px;
}
.hidden {
  display: none;
}
